@import "./variables.scss";
@import "./mixins.scss";

.projects__project {
    @include content-width();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px auto;
    gap: 30px;

    @include md-min {
        flex-direction: row;
        margin: 150px auto;
    }
}

.project__container {
    background-color: $color-gray-dark;
    width: 100%;
    height: 300px;

    @include md-min {
        transform: rotate(18deg);
        height: 400px;
    }
}

.projects__col {
    width: 100%;

    @include md-min {
        width: 50%;
    }
}

.project__title--text {
    padding: 10px 0;
}

.project__title {
    font-size: 40px;
    font-family: "Londrina Outline", sans-serif;
    letter-spacing: 12px;
    color: #6C5F5B;

}

.project__subtitle {
    text-decoration: line-through;
}

.fa-link {
    padding-right: 5px;
    height: 10px;
    width: 15px;
}

.project__link {
    border-style: double;
    border-bottom: 1px solid $color-brown;
    width: auto;
    display: block;
    max-width: 50px;
}

.project__title--text {
    margin: 15px 0;
}